.locationDetailsLoadout {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  .locationName {
    font-size: 20px;
    height: 50px;
  }

  .locationDetails {
    order: 2;

    .detailsTable {
      margin: 1px;
      width: 100%;
    }
  }

  .locationImageWrapper {
    order: 3;
    max-height: 150px;
    max-width: 200px;

    .locationImage {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
